@{
	ViewData["Title"] = "Home Page";
}

<!DOCTYPE html>
<html>
<head>

	<title>Bienvenido - Ingeniería de Software</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<style>
		body {
			font-family: Arial, sans-serif;
			margin: 0;
			padding: 0;
		}

		.container {
			width: 80%;
			margin: auto;
			text-align: justify;
		}

		h1 {
			text-align: center;
			margin-top: 50px;
		}

		p {
			margin-top: 20px;
		}
	</style>
</head>
<body>
	<div class="container">
		<h1>Bienvenido</h1>
		<p>Te damos la bienvenida a nuestro mantenimiento de tablas, encontras algunos atributos de los cuales podras eliminar, editar y por supuesto buscar entre ellos.</p>
		<p>Recuerda tu etica.</p>
		<p>Que tengas un buen dia.</p>
		<centro><img src="~/img/logo.png" class="img-fuid"></centro>
	</div>
</body>
</html>
