@{
	ViewData["Title"] = "Home Page";
}

<!DOCTYPE html>
<html>
<head>

	<title>Bienvenido - Ingeniería de Software</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<style>
		body {
			font-family: Arial, sans-serif;
			margin: 0;
			padding: 0;
		}

		.container {
			width: 80%;
			margin: auto;
			text-align: justify;
		}

		h1 {
			text-align: center;
			margin-top: 50px;
		}

		p {
			margin-top: 20px;
		}
	</style>
</head>
<body>
	<div class="container">
		<h1>Bienvenido - UNIVERSIDAD DE LAS AMERICAS</h1>
		<p>En la Universidad de las Américas, el conocimiento es un elemento crucial para el éxito académico y profesional.</p>
		<p>Cada nuevo semestre para los estudiantes es un desafío nuevo y la necesidad de elegir un nuevo horario suele ser un gran problema, debido a la importancia que esta conlleva decidimos crear student help para facilitar la toma de decisión de los estudiantes.</p>
		<p>La manera en la que aportan a los alumnos es brindándoles información acerca de los docentes, una calificación del profesor donde los estudiantes que ya han tomado materia con este docente podrán dar su sincera opinión, una descripción breve de cómo se siente el estudiante con el profesor, una cualidad del docente y el horario en el que el docente labora.</p>
		<p>Asimismo, la página web tiene como uno de sus objetivos principales generar un apoyo directo de estudiante a estudiante, lo que puede ayudar a mejorar su vida estudiantil.</p>
		<centro><img src="~/img/logo.png" class="img-fuid"></centro>
	</div>
</body>
</html>
